@mixin minLarge{
  @media screen and (min-width:992px){
    @content;
  }
}
@mixin maxMedium{
  @media screen and (max-width:991.5px){
    @content;
  }
}
@mixin minMedium{
  @media (min-width: 768px){
    @content;
  }
}
@mixin maxSmall{
  @media screen and (max-width:767.5px){
    @content;
  }
}
@mixin screenMedium{
  @media screen and (min-width:767.5px) and (max-width:991.5px){
    @content;
  }
}
@mixin maxExtraSmall{
  @media screen and (max-width:575.5px){
    @content;
  }
}
@mixin overlay($color-background){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-background;
}
@mixin prefixer ($property , $value , $prefixes : ()){
  @each $prefix in $prefixes{
    #{'-' + $prefix + '-' + $property} : $value;
  }
  #{$property} : $value;
}

/* Animatin Mixins*/
@mixin keyFrame($animation-name ){
  @-webkit-keyframes #{$animation-name}{
   @content;
  }
  @-moz-keyframes #{$animation-name}{
    @content;
  }
  @keyframes #{$animation-name}{
    @content;
   }
}