$max-mobile: 767px;
$min-small: 768px;
$main-color:#6bb42f;
$gray-color:#777;
$color-light-gray: #777777;
$color-white:#fff;
$color-border:#e5e5e5;
$color-black:#000;
$color-orange:#ffb503;
$padding-top: 40px;
$padding-bottom: 40px;
$max-mobile:767.5px;
$max-small:991.5px;
$min-small:768px;
$min-medium:"(min-width: 992px)" ;
